<html>
    <head>
        <title>Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Quotes</a></h1>
        </div>

        <div>
            <p>published: 24.06.2018, 13:13</p>
            <h2><a href="">My first post</a></h2>
            <p>Change your life today. Don't gamble on the future, act now, without delay.</p>
        </div>

        <div>
            <p>published: 24.06.2018, 13:14</p>
            <h2><a href="">My second post</a></h2>
            <p>A man is what he thinks about all day long.</p>
        </div>
		<div>
            <p>published: 24.06.2018, 13:15</p>
            <h2><a href="">My third post</a></h2>
            <p>With the new day comes new strength and new thoughts.</p>
        </div>
    </body>
</html>